 <html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "panel/mycss.css" %}">
</head>
<body>
    <p><h1>Showing emails {{ start }} - {{ end }} of {{ total }}</h1></p>

    {% if mails|length > 0 %}
    	{% for mail in mails %}
    		<a href="dashboard/show/{{mail.track_key}}">
    			<div class="mailbox">
    				<h3>{{ mail.subject }}</h3>
    				{% if mail.count > 0 %}
    				    <p>{{ mail.last_read}}</p>
    				    <p>Read <span>{{ mail.count }}<span> time</p>
    				{% else %}
    				    <p>Not read yet </p>
    				{% endif %}
    				<p>to: <span>farzam.mirmoeini@gmail.com</span><span>,</span> </p>
    			</div>
    		</a>
    	{% endfor %}
    {% else %}
        <p>You do not have any emails!</p>
    {% endif %}

</body>
</html>

<!--Index-->