<html>
<head>
<link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<body>

<div class="mailbox2">
<h1 style="margin-bottom:30px;">Mamad bagher raftebod bashgah</h1>
<p>diroooz</p>
<p>Read <span>18<span> time</p>
<p>Not read yet </p>
<p>to: <span>farzam.mirmoeini@gmail.com</span><span>,</span> </p>
</div>


<h3 class="last">LATEST EMAIL OPENS</h3>

<div class="insidemail">
<div class="shape"></div>
<h4>One of the recepients read this email</h4>
<p>dirooz</p>
</div>

<div class="insidemail">
<div class="shape"></div>
<h4>One of the recepients read this email</h4>
<p>dirooz</p>
</div>

<div class="insidemail">
<div class="shape"></div>
<h4>One of the recepients read this email</h4>
<p>dirooz</p>
</div>

<div class="insidemail">
<div class="shape"></div>
<h4>One of the recepients read this email</h4>
<p>dirooz</p>
</div>


</body>
</html>