<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "panel/mycss.css" %}">
</head>
<body>
	{% load tz %}
	{% load l10n%}

	<div class="mailbox2">
		<h1 style="margin-bottom:30px;">{{mail.subject}}</h1>
		{% if mail.count > 0 %}
			<p>Read <span>{{ mail.count }}<span> times</p>
			<!--{% localtime on %}-->
            {% localtime on %}
			<p>Last Read at : {{mail.last_read }}</p>
			{% endlocaltime %}
			<!--{% endlocaltime %}-->
		{% else %}
			<p>Not read yet </p>
		{% endif %}
		<p>to :
			{% for to in tos %}
				<span>{{to.email}}</span><span>,</span>
			{% endfor %}

		</p>
		<p>cc :
			{% for cc in ccs %}
				<span>{{cc.email}}</span><span>,</span>
			{% endfor %}

		</p>
		<p>bcc :
			{% for bcc in bccs %}
				<span>{{bcc.email}}</span><span>,</span>
			{% endfor %}

		</p>
	</div>

	{% if mail.count > 0 %}
		<h3 class="last">LATEST EMAIL OPENS</h3>
		{% for log in logs %}
			<div class="insidemail">
				<div class="shape"></div>
				<h4>One of the recepients read this email</h4>
				<p>{{ log.timestamp }}</p>
			</div>
		{% endfor %}
		{% if logs.has_previous %}
            <a href="?page={{ logs.previous_page_number }}">previous</a>
    	{% endif %}
    	{% if logs.has_next %}
            <a href="?page={{ logs.next_page_number }}">next</a>
    	{% endif %}
	{% else %}
		<p>Dear <strong>{{ username }}</strong>, Sorry! No one has read your email yet. Be strong, Be patient! :(</p>
	{% endif %}

</body>
</html>