<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "panel/mycss.css" %}">
</head>
<body>
	<ul class="navigation">
            <li><a href="/logout">Logout</a></li>
            <li><a href="/dashboard/compose/">Compose</a></li>
            <li><a href="/dashboard/profile/">Profile</a></li>
    </ul>
	{% load tz %}
	{% load l10n%}

	<div class="mailbox2">
		<h1 style="margin-bottom:30px;">{{mail.subject}}</h1>
		{% if mail.count > 0 %}
			<p>Read <span>{{ mail.count }}<span> times</p>
			<!--{% localtime on %}-->
            {% localtime on %}
			<p>Last Read at : {{mail.last_read }}</p>
			{% endlocaltime %}
			<!--{% endlocaltime %}-->
		{% else %}
			<p>Not read yet </p>
		{% endif %}
		<p>to :
			{% for to in tos %}
				<span>{{to.email}}</span><span>,</span>
			{% endfor %}

		</p>
		<p>cc :
			{% for cc in ccs %}
				<span>{{cc.email}}</span><span>,</span>
			{% endfor %}

		</p>
		<p>bcc :
			{% for bcc in bccs %}
				<span>{{bcc.email}}</span><span>,</span>
			{% endfor %}

		</p>
	</div>

	{% if mail.count > 0 %}
		<p class="last">LATEST EMAIL OPENS</p>
		{% for log in logs %}
			<div class="insidemail">
				<div class="shape"></div>
				<p>One of the recepients read this email</p>
				<p>{{ log.timestamp }}</p>
			</div>
		{% endfor %}
		
    	{% if logs.has_next %}
    		<button class=next_previous style="vertical-align:middle">
    			<a href="?page={{ logs.next_page_number }}"><span>Next</span></a>
    		</button>
    	{% endif %}
    	{% if logs.has_previous %}
			<button class="next_previous" style="vertical-align:middle">
				<a href="?page={{ logs.previous_page_number }}"><span>Previous</span></a>
			</button>
            
    	{% endif %}
	{% else %}
		<p>Dear <strong>{{ username }}</strong>, Sorry! No one has read your email yet. Be strong, Be patient! :(</p>
	{% endif %}

</body>
</html>