body{
	padding: 0px;
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
	font:15px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: linear-gradient(to left, #8ec64e, #41aba0 );
	background: -webkit-linear-gradient(to left, #8ec64e , #41aba0 );
	background-size: contain;
}

a{
		text-decoration: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #205550;
    margin-top: -20px;
}

li {
    float: right;
}

li a {
    display: block;
    color: #ddedc9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b3ddd9;
    color: #3d3c3b;
}

.active {
    background-color: #4CAF50;
}

.mailbox{
	display: block;
	border : none;
	border-top : 1px solid #ccc;
	text-align: left;
	line-height: 60%;
	cursor: pointer;
	padding-bottom: 5px;
	overflow: hidden;
	float: left;
}

.mailstatus{
	display: block;
	border : none;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 45px;
	height: 45px;
}

.mailbox:hover{
	background-color: #bbdc94;
}

h1,h2,h3,h4,h5,h6{
		color: #4a4849;
		font-family: 'Lato', sans-serif;
		font: 23px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
}

.mailbox p{
		color: #c1c1c1;
}

.mailbox2{
	display: block;
	border : none;
	text-align: left;
	padding-left: 50px;
	line-height: 60%;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

p.last{
	font-family: 'Lato', sans-serif;
	font:15px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: black;
	padding-left: 50px;
}

.mailbox2 p{
	color: #1c270f;
	margin-left: 20px;
}

.mailbox2 h1{
	font-size: 22px;
	color: #1c270f;
	margin-left: 20px;
}

.insidemail{
	line-height: 40%;
	padding-left: 100px;
	border-top : 1px solid #ccc;
	position: relative;
}

.insidemail p{
		color: black;
}

.insidemail .shape{
	position: absolute;
	left: 50px;
	top: 18px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #fff7d0;
	/*background-image: url('/mail-512.png');*/
	background-size: cover;

}

.next_previous{
	display: inline-block;
	border-radius: 4px;
	background-color: #205550;
	border: none;
	color: #000000;
	text-align: center;
	font-size: 15px;
	padding: 20px;
	width: 130px;
	height: 40px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	float: right;
	line-height: 5%;

}
.next_previous:hover span {
	padding-right: 25px;
}

.next_previous span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.next_previous span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.next_previous:hover span:after {
	opacity: 1;
	right: 0;
}