@font-face {
  font-family: 'fontbold';
  src: 
       url('ubuntu/Ubuntu-B.ttf')  format('truetype') ;
 
}

@font-face {
  font-family: 'fontreg';
  src: 
       url('ubuntu/Ubuntu-R.ttf')  format('truetype') ;
 
}

@font-face {
  font-family: 'fontlight';
  src: 
       url('ubuntu/Ubuntu-L.ttf')  format('truetype') ;
 
}


body
{
	padding: 0px;
	padding-top: 20px;
	font-family: fontreg;
	background-color: #fffdf7;
}
a
{
		text-decoration: none !important;
}




.mailbox
{
	display: block;
	border : none;
	border-top : 1px solid #ccc;
	text-align: left;
	padding-left: 50px;
	line-height: 60%;
	cursor: pointer;
	padding-bottom: 5px;
}

.mailbox:hover
{
	background-color: #fff7d0;
}

h1,h2,h3,h4,h5,h6
{
		color: #4a4849;
		font-family: fontbold;

}

.mailbox p
{
		color: #c1c1c1;

}


.mailbox2
{
	display: block;
	border : none;
	text-align: left;
	padding-left: 50px;
	line-height: 60%;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

h3.last
{
	font-family: fontlight;
	color: #c8c8c8;
	padding-left: 20px;
}

.mailbox2 p
{
		color: #c1c1c1;
		margin-left: 20px;
	}

.insidemail
{
	line-height: 40%;
	padding-left: 100px;
	border-top : 1px solid #ccc;
	position: relative;
}
.insidemail p
{
		color: #c1c1c1;
}


.insidemail .shape
{
	position: absolute;
	left: 50px;
	top: 18px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #fff7d0;
	background-image: url('/mail-512.png');
	background-size: cover;

}
